@media screen and (min-width: 650px) {
    

}
#navbar {
    margin-left: auto;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    position: fixed;
}
        #navbar {
            margin-left: auto;
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px;
            text-decoration: none;
        }

    
